{% extends 'templates/admin/app.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            
            {% if errors is defined %}
            <div style="margin-top: 25px;margin-bottom:5px;" class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ errors }}
            </div>
            {% endif %}

            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path_for('admin_auth.signup') }}" method="POST">
                        <input name="{{csrf.valueKey}}" type="hidden" value="{{csrf.value}}">
                        <input name="{{csrf.nameKey}}" type="hidden" value="{{csrf.name}}">

                        <fieldset>
                            {% if auth_type=='signup' %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Signup" name="signup" type="text" autofocus>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Name" name="name" type="text" autofocus>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="success" class="btn btn-lg btn-success btn-block">Sign Up</button>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer">
                    <a href=" {{ base_url() }}">&lt; Back to site</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}